<div class="formations-page">
    <h1>Formations Disponibles</h1>
    
    <!-- Section to display a list of formations -->
    <div class="formations-list">
      <div class="formation-item">
        <img src="../assets/images/Angular.png" alt="Introduction à Angular" class="formation-image">
        <h2>Introduction à Angular</h2>
        <p>Apprenez les bases d'Angular, un framework de développement web. Ce cours couvre les composants, les directives, et la gestion des routes.</p>
        <button (click)="viewDetails(1)">Voir Détails</button>
      </div>
      
      <div class="formation-item">
        <img src="../assets/images/web-dev.jpg" alt="Développement Web Avancé" class="formation-image">
        <h2>Développement Web Avancé</h2>
        <p>Perfectionnez vos compétences en développement web avec des techniques avancées en HTML, CSS, et JavaScript. Idéal pour les développeurs expérimentés.</p>
        <button (click)="viewDetails(2)">Voir Détails</button>
      </div>
      
      <div class="formation-item">
        <img src="../assets/images/agile.png" alt="Gestion de Projet Agile" class="formation-image">
        <h2>Gestion de Projet Agile</h2>
        <p>Maîtrisez les principes de la gestion de projet Agile et Scrum. Apprenez à gérer des projets de manière efficace et à s'adapter aux besoins changeants des clients.</p>
        <button (click)="viewDetails(3)">Voir Détails</button>
      </div>
      
      
      <div class="formation-item">
        <img src="../assets/images/ML.jpg" alt="Introduction au Machine Learning" class="formation-image">
        <h2>Introduction au Machine Learning</h2>
        <p>Découvrez les concepts fondamentaux du Machine Learning et comment appliquer des algorithmes d'apprentissage automatique pour résoudre des problèmes complexes.</p>
        <button (click)="viewDetails(4)">Voir Détails !</button>
      </div>
    </div>
  </div>
  